.g-invalid label {
    color: red;
}

body form .g-invalid input {
    border: 1px solid red;
}

.g-invalid .error-message {
    display: block;
}

.error-message {
    display: none;
}

.g-invalid .error-message p {
    color: red;
    margin: 0;
    margin-top: 0.2rem;
}